certifi (2018.1.18)
chardet (3.0.4)
cx-Freeze (5.0.2)
idna (2.6)
numpy (1.14.0)
pandas (0.22.0)
pbr (3.1.1)
pip (9.0.1)
pygame (1.9.3)
PyMySQL (0.8.0)
python-dateutil (2.6.1)
pytz (2017.3)
requests (2.18.4)
setuptools (28.8.0)
six (1.11.0)
stevedore (1.27.1)
urllib3 (1.22)
virtualenv (15.1.0)
virtualenv-clone (0.2.6)
virtualenvwrapper (4.8.2)
virtualenvwrapper-win (1.2.2)
